@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


body {
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 80vh;
}

.content{
  margin-top: 60px;
}

.button {
  background-color:#E37D03;
  margin-top: 80px;
  font-size: large;
  border-radius: 30px;
  color: white;
  border: 1px solid;
  width: 200px;
  height: 50px;
  font-size: large;

  
  

}


.footer-container {
  background-color:#F5F5F7;
}

.text-color {
  color: "white"
}


/* Add a black background color to the top navigation */
.nav-left {
  background-color:#63aef7;
  overflow: hidden;
  height: 80px;
}

/* Style the links inside the navigation bar */
.nav-left a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 15px;
  font-weight: bold
}

/* Change the color of links on hover */
.nav-left a:hover {
  background-color: white;
  color:#63aef7;
   border-radius: 10px;
   font-weight: bold
}

/* Add a color to the active/current link */
.nav-left a.active {
 color: white;
  border-radius: 40px;
  font-weight: bold;
}


.nav-right a{
  float: right;
   color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: -65px;
  font-weight: bold;
  background-color: #E37D03;
  border-radius: 40px;
  font-size: small;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}